@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?1tzx8w');
  src:  url('fonts/icomoon.eot?1tzx8w#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?1tzx8w') format('truetype'),
    url('fonts/icomoon.woff?1tzx8w') format('woff'),
    url('fonts/icomoon.svg?1tzx8w#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-platzi:before {
  content: "\e900";
}
.icon-css3:before {
  content: "\e912";
  color: #1572b6;
}
.icon-raspberrypi:before {
  content: "\e903";
  color: #c51a4a;
}
.icon-jest:before {
  content: "\e904";
  color: #c21325;
}
.icon-jenkins:before {
  content: "\e905";
  color: #d24939;
}
.icon-bootstrap:before {
  content: "\e906";
  color: #563d7c;
}
.icon-redux:before {
  content: "\e907";
  color: #764abc;
}
.icon-git:before {
  content: "\e908";
  color: #f05032;
}
.icon-amazonaws:before {
  content: "\e909";
}
.icon-eclipseide:before {
  content: "\e90a";
  color: #2c2255;
}
.icon-spring:before {
  content: "\e90b";
  color: #6db33f;
}
.icon-oracle:before {
  content: "\e90c";
  color: #f80000;
}
.icon-mysql:before {
  content: "\e90d";
  color: #4479a1;
}
.icon-postgresql:before {
  content: "\e90e";
  color: #336791;
}
.icon-kubernetes:before {
  content: "\e90f";
  color: #326ce5;
}
.icon-docker:before {
  content: "\e910";
  color: #1488c6;
}
.icon-html5:before {
  content: "\e911";
  color: #e34f26;
}
.icon-javascript:before {
  content: "\e913";
  color: #f7df1e;
}
.icon-java:before {
  content: "\e914";
  color: #007396;
}
.icon-react:before {
  content: "\e915";
  color: #61dafb;
}
.icon-linkedin:before {
  content: "\e901";
}
.icon-menu:before {
  content: "\e902";
}
